
.glasses {
    background-image: url("public/imgs/glassesImage/background.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .glasses_header {
      position: absolute;
      background-color: rgba(90, 85, 85, 0.544);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      min-height: 100px;
      width: 100%;
      z-index: 2;
      text-align: center;
      font-size: 50px;
  
      .container {
        padding: 20px;
        h1 {
          color: red;
        }
      }
    }
    .glasses_body {
      .container {
        .potrait {
          min-height: 100vh;
          padding-top: 200px;
          .face {
            img {
              width: 250px;
              height: 250px;
              object-fit: cover;
            }
          }
          .glass{
              width: 150px;
              height: 50px;
              position: absolute;
              top: 30%;
              left: 32.8%;
              img{
                  object-fit: cover;
              }
  
          }
        }
        .glasess_list {
          justify-content: center;
          img{
              width: 50px;
              cursor: pointer;
          }
        }
      }
    }
  }
  